doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  script(src='/javascripts/socket.io.js')
  script(src='/javascripts/handle.js')
  body
    block content
    br
    a(href='/') Home
