html, body{
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #484848;
  color: wheat;
}

a {
  color: #00B7FF;
}
input{
  margin: 7px;
  padding: 7px;
  border:1px wheat solid;
  border-radius: 2px;
}
input[type='text']{
  min-width: 300px;
}
input[type='submit']{
  background: linear-gradient(rgb(183 178 178 / 43%), rgb(58 58 58));
  color:wheat;
}
.borderSp{
  border:1px wheat solid;
  border-radius: 2px;
  padding: 2px;
}
